#categories a 
{
	display: block;
	text-decoration: none;

	background-color: #33A3FF;
	color: #FFF;

	margin-bottom: 1px;
	padding-left: 10px;
	width: 4096px;
	height: 120px;
	font-size: 40px;
	line-height: 120px;
	vertical-align: middle;
}

#categories a:hover
{
	background-color: #FFB300;
	color: #33A3FF;
}

#tree a
{
	text-decoration: none;

	color: #D00;
}

#tree span
{
	color: #000;
}