#create
{
	position: absolute;
	top: 2em;
	left: 5em;
	font-size: 1.5em;
	width: 10em;
	height: 1.2em;
}

#group-search
{
	position: absolute;
	top: 6em;
	left: 6em;
	font-size: 1.2em;
}

#res
{
	position: absolute;
	top: 8em;
	left: 6.1em;
	font-size: 1.2em;
	width: 10.4em;
	height: 20em;
	background-color: #444444;
}

#group
{
	position: absolute;
	top: 2em;
	left: 20em;
	font-size: 1.5em;
	width: 8em;
	height: 1.5em;
}

#group-member
{
	position: absolute;
	top: 8em;
	left: 25em;
	font-size: 1.2em;
	width: 10.4em;
	height: 20em;
	background-color: #444444;
}

#error
{
	position: absolute;
	top: 4.5em;
	left: 25em;
	font-size: 1.2em;
	width: 10.4em;
	height: 3.5em;
	color: #990000;
}

#ok
{
	position: absolute;
	top: 4.5em;
	left: 25em;
	font-size: 1.2em;
	width: 10.4em;
	height: 3.5em;
	color: #009900;
}